<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>

	<h1>Buzzfeed Quiz</h1>

	<%@quizes.each do |a|%>
	<h3> <a href=<%="/Quiz/#{a.id}"%>> 
	  <%=a.title%> </a> </h3>
	<%end%>

</body>
</html>
