@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

h1 {
	color: red;

}

h1 , h2 {
	font-family: helvetica;


}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	color: black;
	  height: 40px;
	  
 

}

.answer {
    width: 20%;
    display: inline-block;
	text-align: left;
	padding-left: 14%


    }

   body {
   	text-align: center;
   	font-family: helvetica;
   }

  .wrapper {
  	width: 70%;
  	margin: 0 auto;
  }

  input[type=submit] {
  	display: block;
  	margin: 0 auto;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}